<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridteam.mafiahelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="MafiaHelperApplication">
        <activity
            android:name="com.ridteam.mafiahelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
			android:name = "com.ridteam.mafiahelper.database.MafiaHelperProvider"
			android:authorities="com.ridteam.mafiahelper.contentprovider"
			android:writePermission="com.ridteam.mafiahelper.contentprovider.permission.WRITE_DBLOCAL"/>
        <activity android:name=".activitys.RoleDetailsActivity"></activity>
        
    </application>

</manifest>
